.App {
  text-align: center;
}

:root {
  --header-color: #282c34;
  --black-color: #000000;
  --white-color: #ffffff;
  --link-color: #047895;
  --hover-color: #61dbfb;
  --shadow-color: #2a2a2a99;
  --tag-color: #61dbfb;
  --tag-text-color: #047895;
  --error-color: #ff0000;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h5 {
  font-size: 24px;
}

p {
  font-size: 20px;
}

/* Errors */
.error {
  color: var(--error-color);
}

/* Social Icons */
.fab {
  padding: 0 0.6rem;
  color: var(--white-color);
}

.fab:hover,
.fab:focus,
.fab:focus-visible,
.fab:active {
  color: var(--hover-color);
}

/* Links */
a,
a::before,
a::after {
  color: var(--link-color);
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: var(--hover-color);
}
